# redis 相关配置
redis_server_host=localhost
redis_server_port=6379
redis_server_db=1

# mysql 相关配置
PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password
DB_DATABASE=aiChat

# nodemailer 相关配置
nodemailer_host=smtp.qq.com
nodemailer_port=587
nodemailer_auth_user=your_email@qq.com
nodemailer_auth_pass=your_email_auth_pass

# LangSmith 相关配置
LANGSMITH_API_URL=https://api.smith.langchain.com
LANGSMITH_PROJECT_NAME=ai-chat-project
LANGSMITH_TRACING=true

# LangGraph 相关配置
LANGGRAP_ENABLE_CHECKPOINTING=true
LANGGRAP_DEFAULT_WORKFLOW_TIMEOUT=300000